body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

    color: black;
  }

h1 {
    text-align: center;
    margin-bottom: 3%;
}

.navbar {
    padding-left: 0%;
    padding-right: 0%;
    
}

.errors {
    color: red;
    font-weight: bold;
    padding : 0;
}

#navbar-items {
    padding: 0 10%;
}

.nav-link {
    margin: 0 12px 0 12px;
}

#main-content {
    margin-top: 2%;
    padding: 0 10%;
}